
<!-- sidenav -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <!-- content -->
    <mat-sidenav-content>
        <main>
            <div class="test" fxLayout="column">
                <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
                <div class="content">
                    <app-sidebar *ngIf="onShowSide"></app-sidebar>
                    <router-outlet (showSide)="acceptShowSide($event)"></router-outlet>
                </div>
            </div>
        </main>

        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>

</mat-sidenav-container>


